<div class="container">
    <img [src]="food.imageUrl" [alt]="food.name" >
    <div class="details">
        <div class="header">
            <span class="name">
                {{ food.name }}
            </span>
            <span class="favorite {{food.favorite ? '':'not'}}">
                ❤
            </span>
        </div>
        <div class="origins">
            @for(origin of food.origins ; track $index) {
                <span class="origin">
                    {{origin}}
                </span>
            }
        </div>
        <div class="tags">
            @for(tag of food.tags ; track $index) {
                <a class="tag" routerLink="/tag/{{tag}}">
                    {{tag}}
                </a>
            }
        </div>
        <div class="cook-time">
            <span>
                Time to cook about
                <span class="bold">{{food.cookTime}}</span>
                minutes.
            </span>
        </div>
        <div class="price">
            <span>
                {{food.price | currency :'EUR':'symbol'}}
            </span>
        </div>
        <button (click)="addToCart()">Add To Cart</button>
    </div>
</div>